* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 65%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  margin-bottom: 30px;
  flex: 1 1 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 9px;
  position: relative;
  &:hover {
    box-shadow: 0px 20px 40px rgba(250, 13, 13, 0.4);
  }
}

.left-div {
  width: 60%;
  height: 100%;
  margin-right: 20px;
  margin-top: 10px;
  h1 {
    word-break: break-word;
  }
  p1 {
    word-break: break-word;
  }
}
.right-div {
  width: 40%;
  height: 180px;
  object-fit: contain;
  margin-top: 17px;
}
img {
  /* object-fit: contain; */
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

@media only screen and (max-width: 872px) {
  .content {
    width: 95%;
  }
}
