.thumbnailImage {
  height: 50%;
  margin: 0 auto;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#title {
  word-break: break-word;
  width: 50%;
  margin: 0 auto;
  font-weight: 900;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 20px;
}
.mainContent {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  word-break: break-word;
  width: 98%;
  text-align: left;
  line-height: 2;
  margin-bottom: 0;
}
.date-time {
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  color: rgba(117, 117, 117, 1);
}