<div class="h-[100%]">
    <h2> Write Form</h2>
  <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Title" formControlName="title" [ngClass]="{
        'error-class': editorForm.controls.title.touched && editorForm.controls.title.errors?.required
      }" />
    <textarea matInput formControlName="description" id="description" cols="30" rows="3" [ngClass]="{
        'error-class': editorForm.controls.description.touched && editorForm.controls.description.errors?.required
      }" placeholder="Write Short description in less then 50 words..">
      </textarea>

    <div class="flex flex-row h-[40px] justify-center items-center pb-4 mx-auto">
      <div class="w-[100px]">
        <img [src]="imageSrc || '/assets/images/avatar.svg'" class="object-contain h-[100%] w-[100%]" #normal />
      </div>
      <div class="flex justify-center w-[350px]">
        <input type="file" name="" accept="image/*" id="" (change)="uploadFile($event)" #file #normal />
        <button mat-raised-button color="primary" (click)="file.click()" (click)="normal.click()" >
          <mat-icon inline="true" style="background-color: #3f51b5;">file_upload</mat-icon>
          Choose Image
        </button>
      </div>
    </div>

    <div class="mb-4 mx-auto">
      <quill-editor id="quill-editor" class="ql-editor flex flex-col" formControlName="content" style="height: 300px;"
        (blur)="onEditorBlured($event)" >
      </quill-editor>
    </div>
  </form>

</div>