<div class="flex flex-wrap justify-between mb-4 ml-2 h-[64px] items-center">
  <div class="text-sm text-black w-[100px]">
    <span *ngIf="showSlides">Latest Blogs</span>
    <span *ngIf="!showSlides">Popular Blogs</span>
  </div>
  <mat-paginator [length]="totalBlogs" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="handlePageEvent($event)" class="space-x-0">
  </mat-paginator>
</div>

<div class="max-h-[80vh] overflow-auto mt-10">
  <mat-grid-list *ngIf="!error" gutterSize="12" [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let data of paginatedData; trackBy: trackByDataId" class="w-full">
      
      <!-- Card for !fullWidthMode -->
      <mat-card class="shadow-lg w-full" *ngIf="!fullWidthMode && contentLoaded && data">
        <div class="flex flex-row justify-center items-center mt-3">
          <div class="h-[25px] w-[25px] rounded-full">
            <img src="/assets/images/avatar.svg" alt="user image" *ngIf="!data.user || !data.user.image" />
            <img src="{{ data.user && data.user.image ? data.user.image : '' }}" alt="data?.user?.username"
              *ngIf="data.user && data.user.image" class="h-full w-full rounded-full" />
          </div>
          <a class="mx-2 text-sm"> {{ data?.user?.username }} </a>
          <span class="text-xs">{{ data?.createdAt | date }}</span>
        </div>

        <div class="flex flex-col items-center h-[300px]">
          <div class="h-[160px] w-[300px]">
            <img class="mt-1 mx-auto items-center object-contain h-[90%] max-h-[90%] w-[90%]"
              [src]="data.image" alt="{{ data.title }}" />
          </div>

          <mat-card-content class="w-full max-h-[160px]">
            <div>
              <p class="truncate hover:whitespace-normal">{{ data.title }}</p>
              <p class="truncate text-sm text-wrap max-h-[40px] w-full">
                {{ data.description }}
              </p>
            </div>

            <div class="flex flex-row mx-auto justify-between items-center max-w-[100%]">
              <app-rating [rating]="data.rating" [numReviews]="data.numReviews"></app-rating>
              <a [routerLink]="['/blogs/blog-details/', data._id]">
                <span class="text-blue-400 text-sm font-bold">Read More</span>
              </a>
            </div>
          </mat-card-content>
        </div>
      </mat-card>

      <!-- Card for fullWidthMode -->
      <mat-card class="shadow-lg" *ngIf="fullWidthMode && contentLoaded && data">
        <div class="flex flex-row justify-center items-center mt-3">
          <div class="h-[25px] w-[25px] rounded-full">
            <img src="/assets/images/avatar.svg" alt="user image" *ngIf="!data.user || !data.user.image" />
            <img src="{{ data.user && data.user.image ? data.user.image : '' }}" alt="data?.user?.username"
              *ngIf="data.user && data.user.image" class="h-full w-full rounded-full" />
          </div>
          <a class="mx-2 text-sm"> {{ data?.user?.username }} </a>
          <span class="text-xs">{{ data?.createdAt | date }}</span>
        </div>

        <div class="flex flex-row justify-between">
          <div class="h-[160px] w-[30%] max-w-[30%]">
            <img class="mt-1 mx-auto items-center object-contain max-h-[100%] w-[100%] min-w-[100%]"
              [src]="data.image" alt="{{ data.title }}" />
          </div>

          <mat-card-content class="flex flex-col justify-between h-auto w-[67%] max-w-[67%]">
            <div>
              <div class="truncate text-sm text-wrap font-black max-h-[60px]">
                <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
                <span *ngIf="contentLoaded" class="text-lg font-bold">{{ data.title }}</span>
              </div>
              <p class="truncate text-sm text-wrap max-h-[40px] w-full">
                {{ data.description }}
              </p>
              <div class="truncate text-xs text-wrap h-[50px] max-w-[100%]">
                <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(data?.content)"></div>
              </div>
            </div>

            <div class="flex flex-row mx-auto justify-between items-center max-w-[100%]">
              <app-rating [rating]="data.rating" [numReviews]="data.numReviews"></app-rating>
              <a [routerLink]="['/blogs/blog-details/', data._id]">
                <span class="text-blue-400 text-sm font-bold">Read More</span>
              </a>
            </div>
          </mat-card-content>
        </div>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="flex justify-center mx-auto w-1/2 max-h-[90vh]" *ngIf="noDataFound">
  <img src="/assets/images/no-data-found.png" alt="No Blog Found..!" />
</div>
