* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-image {
  height: 30px;
  width: 30px;
  // margin-top: 10px;
  border-radius: 50%;
}

.left-div {
  width: 60%;
  height: 100%;
  margin-right: 20px;
  h1 {
    word-break: break-word;
  }
  p1 {
    word-break: break-word;
  }
}

@media only screen and (max-width: 872px) {
  .content {
    width: 95%;
  }
}

