<div class="container mb-4">
  <div class="pb-2">
    <div class="flex flex-row items-center">
      <div class="h-[20px] w-[20px] rounded-full">
        <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
          [theme]="{ width: '20px', height: '20px' }"></ngx-skeleton-loader>
        <img src="/assets/images/secure_login.svg" alt="" *ngIf="!data?.image" />
        <img src="{{ data?.user?.image }}" alt="writer image" *ngIf="contentLoaded && data?.user?.image" />
      </div>
      <ngx-skeleton-loader *ngIf="!contentLoaded" class="m-0 ml-1"></ngx-skeleton-loader>
      <h4 class="m-0 ml-1" *ngIf="contentLoaded"> {{ data?.user?.username }} </h4>
    </div>
  </div>

  <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="ngxLoaderTheme"></ngx-skeleton-loader>
  <h1 class="d-flex justify-content-center text-capitalize fw-bold fs-1" id="title" *ngIf="contentLoaded">
    {{ data?.title }}
  </h1>
  <div class="flex flex-row">
    <div class="h-[50%] mx-auto w-[40%]">
      <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle" [theme]="{ ngxLoaderTheme, height: '240px' }"      
        ></ngx-skeleton-loader>
      <img src="{{ data?.image }}" alt="imagename" *ngIf="contentLoaded" />
    </div>
    <div class="mt-4"></div>
    <div class="flex flex-col w-[60%]">
      <ngx-skeleton-loader count="5" *ngIf="!contentLoaded" [theme]="ngxLoaderTheme"> </ngx-skeleton-loader>
      <div class="mainContent font-bold" *ngIf="contentLoaded">
        <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(data?.description)"></div>
      </div>
      <div class="ml-4 text-gray-500 mb-2">
        <span>{{ data?.createdAt | date }}</span>
      </div>
      <ngx-skeleton-loader count="5" *ngIf="!contentLoaded" [theme]="ngxLoaderTheme"> </ngx-skeleton-loader>
      <div class="mainContent h-[50vh] overflow-y-auto" *ngIf="contentLoaded">
        <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(data?.content)"></div>
      </div>
    </div>
  </div>
</div>