<div class="editor_class">
  <h2 class="ml-4"> Write Blog</h2>
  <app-write-form [initialData]="editorForm.value" [configData]="configData" (formSubmit)="onFormSubmit($event)">
  </app-write-form>

  <div class="editor-buttons ">
    <button mat-raised-button color="primary" (click)="saveAsDraft()">
      Save As Draft
    </button>
    <button mat-raised-button color="warn" (click)="resetBlog()">Reset</button>
    <button mat-raised-button color="accent" (click)="publishBlog()">
      Publish
    </button>
    <button mat-raised-button color="primary" (click)="openMsgDialog()">
      Preview
    </button>
  </div>
</div>