<mat-toolbar class="fixed top-0 left-0 right-0 z-50 flex flex-wrap justify-between">
  <div class="logo">
    <a routerLink="/" matRipple> <span class="text-lg p-2 ">{{appName}}</span></a>
  </div>

  <ul class="nav-links">
    <li class="links">
      <a routerLink="/read" matRipple>Read</a>
    </li>
    <li class="links"><a routerLink="/write">Write</a></li>
  </ul>
  <ng-container *ngIf="loggedIn; else loggedOutMenu">
    <!-- Menu items for logged in users -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile/me">
        <mat-icon>person_pin</mat-icon> Profile
      </button>
      <button mat-menu-item routerLink="/profile/myblog" routerLinkActive="active">
        <mat-icon>email</mat-icon>My Blog
      </button>
      <button mat-menu-item routerLink="/profile/draft" routerLinkActive="active">
        <mat-icon>drafts</mat-icon>My Draft
      </button>
      <!-- <app-main-profile></app-main-profile> -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon> Logout
      </button>
    </mat-menu>

    <div class="profile-drop" [matMenuTriggerFor]="userMenu">
      <div style="display: flex; align-items: end;">
        <span class="mr-2 text-wrap max-w-[120px]">{{userName.split(' ')[0]}}</span>
        <div class="profile-image">
          <img [src]="profileImage || '/frontend/src/assets/images/avatar.svg'" alt="" id="profile-image"
            id="profile_img" />
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loggedOutMenu>
    <!-- Menu items for logged out users -->
    <div class="links">
      <a routerLink="/auth/login" matRipple>Sign In</a>
    </div>
    <div class="links try-for-free">
      <a routerLink="/auth/signup" matRipple>Sign Up</a>
    </div>
  </ng-template>

  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

</mat-toolbar>
<div class="h-[30px]"></div>
<router-outlet *ngIf="routerOutlet"></router-outlet>