<!-- <div class="h-[70vh] flex flex-col items-center justify-center">
</div> -->

<div class="h-[80vh] w-full flex items-center justify-center">
  <div class="w-full max-w-4xl flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2 px-1">
      <div id="login">
        <div id="login-form-wrapper">
          <div class="login-form">
            <div class="logo text-center mb-1">
              <a routerLink="/">
                <img class="inline-block max-h-[150px]" src="/assets/images/blog1.png" alt="blog1.png"/>
              </a>
            </div>
            <div class="flex justify-center items-center h-[40vh]">
              <form [formGroup]="loginForm" class="space-y-1 w-full max-w-md px-2">
                <div class="inner-form space-y-1">
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Email address*</mat-label>
                    <input type="email" matInput formControlName="email" />
                    <mat-error *ngIf="loginForm.controls.email?.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="loginForm.controls.email?.errors?.email">Please Enter Correct Email</mat-error>
                  </mat-form-field>
            
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Password*</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                    <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    <mat-error *ngIf="loginForm.controls.password?.errors?.required">Password is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="flex justify-center mb-2">
                  <a routerLink="/auth/forgot">Forgot Password?</a>
                </div>
                <div class="flex justify-center">
                  <button mat-raised-button color="primary" (click)="login()" class="login-button w-full max-w-xs"
                    [disabled]="!loginForm.valid">
                    Login
                  </button>
                </div>
              </form>
            </div>
            <div class="register mt-0 text-center">
              <p class="inline mr-2">Don't have an account?</p>
              <a routerLink="/auth/signup">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden md:block w-1/2 px-2">
      <div class="flex justify-center items-center h-full">
        <img src="/assets/images/loginBg.png" alt="login-image" class="max-w-full h-auto" />
      </div>
    </div>
  </div>
</div>