<!-- <div *ngIf="!loading; else result" class="p-4 flex ">
  <app-blog-box #blogBox [blogsList]="blogsList" [showSlides]="showSlides"></app-blog-box>
</div>

<ng-template #result class="p-4 flex ">
  <div *ngIf="!contentLoaded">
    <app-not-loaded [contentLoaded]="contentLoaded"></app-not-loaded>
  </div>  
</ng-template>  -->

<div *ngIf="loading; else result">
  <div *ngIf="!contentLoaded">
    <app-not-loaded [contentLoaded]="contentLoaded"></app-not-loaded>
  </div>  
</div>

<ng-template #result class="p-4 flex ">
  <app-blog-box #blogBox [blogsList]="blogsList" [showSlides]="showSlides"></app-blog-box>
</ng-template> 