* {
  margin: 0;
  padding: 0;
}
.mat-toolbar {
  background-color: rgb(60, 194, 42);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-top: 10px;
  padding: 0;
  margin: 0 50px 0 50px;
}
.logo {
  min-width: 160px;
  text-wrap: wrap;
  height: auto;

  a {
    text-decoration: none;
    color: black;
    letter-spacing: 11px;
    /* text-transform: uppercase; */
    font-size: 30px;
    font-weight: bolder;
  }
}
img {
  width: 100%;
  height: 100%;
}

.nav-links {
  color: #482ff7;
  display: flex;
  justify-content: space-around;
  width: 25%; 
  // width: 160px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  align-items: center;

  li {
    list-style: none;

    a {
      text-decoration: none;
      font-size: 14px;
      color: black;
      font-family: "Inter", sans-serif;
      padding: 10px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
.try-for-free a {
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.hamburger {
  display: none;
}
.bg-custom-1 {
  background-color: #85144b;
}
.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.profile-image {
  width: 45px;
  height: 46px;
  border-radius: 50%;
}
.profile-dropdown {
  flex-direction: column;
  position: absolute;
  top: 57px;
  z-index: 99;
  width: 130px;
  right: 87px;
  &::before {
    content: " ";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #3f51b5;
    position: absolute;
    top: -10px;
    right: 12px;
  }
}
#profile_img {
  border-radius: 50%;
}
.profile-drop-links {
  display: none;
}
.custom-toolbar {
  background-color: rgb(110, 221, 110); /* Or use your desired color code */
}

@media only screen and (max-width: 872px) {
  .nav-links {
    display: block;
    position: fixed;
    flex-direction: column;
    right: -100%;
    top: 5rem;
    width: 160px;
    text-align: center;
    transition: 0.3s;
    height: 60vh;
    overflow-y: auto;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  
    &.active {
      right: 0;
      z-index: 99;
      background: #f9f4f0;
  
      &:hover {
        columns: white;
      }
    }
  }
  .profile-drop-links {
    display: block;
  }
  .links {
    margin: 2.5rem 0;
    color: green;
    
    &:hover {
      color: white;
    }
  }
  .profile-drop {
    /* display: none; */
    display: block;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  
    &.active {
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

}

