<mat-toolbar class="fixed top-0 left-0 right-0 z-50 flex justify-between mat-toolbar" style="padding-bottom: 8px;">
  <div class="logo">
    <a routerLink="/" matRipple> <span class="text-lg p-2 ">{{appTitle}}</span></a>
  </div>

  <ul class="nav-links">

    <!-- <div class="flex-1 min-w-32">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="flex justify-center items-center ">
        <mat-form-field floatLabel="auto" class="mx-auto w-full">
          <input matInput type="query" placeholder="Search..." formControlName="query">
        </mat-form-field>
        <button class=" bg-secondary hover:bg-secondary-dark text-white font-bold p-1 rounded" mat-button type="submit"
          color="secondary">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div> -->

    <li class="links"> <a routerLink="/blogs/read" matRipple>Read</a> </li>
    <li class="links"><a routerLink="/blogs/write">Write</a></li>
  </ul>

  <ng-container *ngIf="loggedIn; else loggedOutMenu">
    <!-- Menu items for logged in users -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile/me">
        <mat-icon>person_pin</mat-icon> Profile
      </button>
      <button mat-menu-item routerLink="/profile/myblog" routerLinkActive="active">
        <mat-icon>email</mat-icon>My Blog
      </button>
      <button mat-menu-item routerLink="/profile/draft" routerLinkActive="active">
        <mat-icon>drafts</mat-icon>My Draft
      </button>
      <!-- <app-main-profile></app-main-profile> -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon> Logout
      </button>
    </mat-menu>

    <div class="profile-drop" [matMenuTriggerFor]="userMenu">
      <div style="display: flex; align-items: end;">
        <div class="profile-image">
          <img [src]="profileImage || '/assets/images/avatar.svg'" alt="profile-image" class="profile-image" />
        </div>
        <span class="mx-2 text-wrap max-w-[120px]">{{userName.split(' ')[0]}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </ng-container>

  <ng-template #loggedOutMenu >
    <!-- Menu items for logged out users -->
    <div class="links">
      <a routerLink="/auth/login" matRipple>Sign In</a>
    </div>
    <div class="links try-for-free">
      <a routerLink="/auth/signup" matRipple>Sign Up</a>
    </div>
  </ng-template>

  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

</mat-toolbar>
<div class="h-[30px]"></div>