<div class="flex flex-col flex-1 w-full min-w-full mt-0">
  <div class="flex justify-between w-full px-18 pb-12">
    <div class="flex flex-col w-full mt-5">
      <div class="flex flex-row justify-center items-center w-4/5 mx-auto">
        <div class="profile-img w-4/12">
          <img [src]="imageSrc || '/assets/images/placeholder-image.jpg'" alt="" />
          <img src="/assets/images/photo_camera.svg" alt="image upload" id="image-upload" (click)="file.click()" />
          <input type="file" accept="image/*" #file [ngStyle]="{ display: 'none' }" (change)="uploadFile($event)" />
        </div>
        <div class="flex flex-col items-center w-7/12">
          <button mat-raised-button (click)="file.click()" class="mybtn">
            Change Picture
          </button>
          <button mat-raised-button class="mybtn" (click)="openPassworChangeDialog()">
            Change Password
          </button>
        </div>
      </div>
      <form [formGroup]="profileForm">
        <!-- <div class="inner-form justify-end"> -->
        <div class="flex justify-center flex-col w-4/5 mx-auto">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput formControlName="username" />
            <mat-error *ngIf="profileForm.controls.username?.errors?.required">Name is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="input">
            <mat-label>Email address*</mat-label>
            <input type="email" matInput formControlName="email" readonly="true" />
            <mat-icon matSuffix class="text-blue-600 cursor-pointer">edit</mat-icon>
            <mat-error *ngIf="profileForm.controls.email?.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="profileForm.controls.email?.errors?.email">Please Enter Correct Email</mat-error>
          </mat-form-field>
          <!-- <div class="form-btn"> -->
          <div class="flex items-center">
            <button mat-raised-button matRippe class="cancel">Cancel</button>
            <button mat-raised-button matRippe class="save" (click)="saveDetails()"> Save </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>