<div class="read-draft-page">
  <div *ngIf="!contentLoaded">
    <app-not-loaded [contentLoaded]="contentLoaded"></app-not-loaded>
  </div>

  <div *ngIf="contentLoaded">
    <div *ngFor="let data of myDraft.drafts">
      <div class="content" matRipple>
        <div class="left-div">
          <div class="writer-info-container">
            <div class="info">
              <div class="profile-image">
                <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
                  [theme]="{ width: '20px', height: '20px' }"></ngx-skeleton-loader>
                <img src="/assets/images/secure_login.svg" alt="" *ngIf="!myDraft.image" />
                <img src="{{ myDraft.image }}" alt="" *ngIf="contentLoaded && myDraft.image" />
              </div>
              <ngx-skeleton-loader *ngIf="!contentLoaded" class="writer-name"></ngx-skeleton-loader>
              <h4 class="writer-name" *ngIf="contentLoaded"> {{ myDraft?.username }} </h4>
            </div>
          </div>
          <a [routerLink]="['/drafts/draft-details/', data._id]">
            <div class="draft-title">
              <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
              <h1 *ngIf="contentLoaded">                {{ data.title }}              </h1>
            </div>
            <div class="draft-content">
              <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
              <div *ngIf="contentLoaded" [innerHTML]="                  sanitizer.bypassSecurityTrustHtml(data?.description)                "></div>
            </div>
            <div class="ml-4 text-gray-500 mb-2">
              <span>{{ data?.createdAt | date }}</span>
            </div>
          </a>
        </div>
        <div class="right-div">
          <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle" [theme]="{
              width: '40%', height: '100%', 'border-radius': '29px', 'margin-left': '12%'
            }"></ngx-skeleton-loader>
          <img src="{{ data?.image }}" alt="" *ngIf="contentLoaded" />
        </div>

        <div class="more">
          <mat-icon class="mr-2" (click)="editDraft(data._id)">edit</mat-icon>
          <mat-icon (click)="deleteDraft(data._id)">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="no-data-found" *ngIf="noDataFound">
  <img src="/assets/images/no-data-found.png" alt="No Draft Found..!" />
</div>