<div class="mt-8">
  <div *ngIf="!contentLoaded">
    <app-not-loaded [rightImage]=rightImage [contentLoaded]="contentLoaded"></app-not-loaded>
  </div>

  <div *ngIf="contentLoaded">
    <div *ngFor="let data of myBlog.posts">
      <div class="content" matRipple>
        <div class="left-div">
          <a [routerLink]="['/blogs/blog-details/', data._id]">
            <div class="text-lg overflow-hidden text-ellipsis font-bold">
              <span> {{ data.title }} </span>
            </div>
            <div class=" text-sm max-h-10 overflow-hidden">
              <div [innerHTML]=" sanitizer.bypassSecurityTrustHtml(data?.description)"></div>
            </div>
            <div class="text-xs ml-2 text-gray-500 mb-2">
              <span>{{ data?.createdAt | date }}</span>
            </div>
          </a>
        </div>
        <div class="w-[40%] h-[180px] object-contain mt-4">
          <img class="h-[100%] w-[100%] rounded-lg" src="{{ data?.image }}" alt="" />
        </div>

        <div class="top-0.5 mx-2 absolute left-1">
          <div class="flex flex-row items-center mb-8">
            <div class="h-[20px] w-[20px] rounded-full">
              <img src="/assets/images/secure_login.svg" alt="" *ngIf="!myBlog.image" />
              <img src="{{ myBlog.image }}" alt="" *ngIf="contentLoaded && myBlog.image"
                class="h-full w-full rounded-full" />
            </div>
            <h4 class="m-0 ml-1"> {{ myBlog?.username }} </h4>
          </div>
        </div>
        <div class="cursor-pointer top-0.5 absolute right-1">
          <mat-icon class="mr-2" (click)="editBlog(data._id)">edit</mat-icon>
          <mat-icon (click)="deleteBlog(data._id)">delete</mat-icon>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="flex justify-center mx-auto w-1/2 max-h-[90vh]" *ngIf="noDataFound">
  <img src="/assets/images/no-data-found.png" alt="No Blog Found..!" />
</div>