<div class="editor_class">
  <h2> Edit Draft</h2>
  <form [formGroup]="editorForm">
    <input type="text" placeholder="Title" formControlName="title" />
    <textarea formControlName="description" id="description" cols="30" rows="5"
      placeholder="Write Short description in 50 words.."></textarea>

    <div class="thumbnailImage h-[40px] justify-center items-center pb-4">
      <div class="w-[100px]">
        <img [src]="imageSrc || '/assets/images/avatar.svg'" id="image" #normal />
      </div>
      <div class="w-[400px] mx-1">
        <input type="file" name="" accept="image/*" id="" (change)="uploadFile($event)" #file #normal />
        <button mat-raised-button color="primary" (click)="file.click()" (click)="normal.click()" class="uploadFile">
          <mat-icon inline="true" class="color-white">file_upload</mat-icon>
          Choose Thumbnail Image
        </button>
      </div>
    </div>

    <textarea matInput formControlName="content" id="content" cols="30" rows="8" [ngClass]="{
      'error-class': editorForm.controls.content.touched && editorForm.controls.content.errors?.required
    }" placeholder="Write Short content in less then 500 words..">
    </textarea>
    <!-- <div class=" mb-4">
      <quill-editor formControlName="content" [(ngModel)]="editorValue" [styles]="{ height: '300px' }" 
      (blur)="onEditorBlured($event)" [modules]="modules">
    </quill-editor>
    </div> -->
  </form>

  <div class="editor-buttons">
    <button mat-raised-button color="primary" (click)="saveEditor()">
      Save
    </button>
    <button mat-raised-button color="accent" (click)="publish()">
      Publish
    </button>
    <button mat-raised-button color="primary" (click)="openMsgDialog()">
      Preview
    </button>
  </div>
</div>