<div class="editor_class">
  <h2> Edit Draft</h2>
  <app-write-form *ngIf="content" [initialData]="editorForm.value" [configData]="configData" (formSubmit)="onFormSubmit($event)">
  </app-write-form>

  <div class="editor-buttons">
    <button mat-raised-button color="primary" (click)="saveEditor()">
      Save
    </button>
    <button mat-raised-button color="accent" (click)="publish()">
      Publish
    </button>
    <button mat-raised-button color="primary" (click)="openMsgDialog()">
      Preview
    </button>
  </div>
</div>